In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_excel("ClincolabratoryAll_Labeled_Cleaned_Anonynimized.xlsx")
block7 = df.loc[: , 'MH_CurremtSmoker':'MH_Hookahuser']

In [3]:
block7

          MH_CurremtSmoker      MH_Alcoholuser      MH_Opiumuser MH_Hookahuser
0     Curremt Smoker (0/1)  Alcohol user (0/1)  Opium user (0/1)   Hookah user
1                        0                   0                 0             0
2                        0                   0                 0             0
3                        1                   0                 0             0
4                        1                   0                 0             0
...                    ...                 ...               ...           ...
9130                     0                   0                 0             0
9131                     0                   0                 0             0
9132                     0                   0                 0             0
9133                     0                   0                 0             0
9134                     0                   0                 0             0

[9135 rows x 4 columns]

In [4]:



'''for i in len(block7.columns):
    if info[i]==block7.columns[i]:
        c = "patient is Curremt Smoker. "
    else:
        c=" Dyspnea is present. "
'''

def fun7(info):

    if info[0]=='0':
        c = " patient is Current Smoker. "
    else:
        c=" patient is not Current Smoker. "
        
    if info[1]=='0':
        c = " patient is Alcohol user. "
    else:
        c=" patient is not Alcohol user. "        
        
    if info[2]=='0':
        c = " patient is Opium user . "
    else:
        c=" patient is not Opium user . "        
        
    if info[3]=='0':
        c = " patient is Hookah user. "
    else:
        c=" patient is not Hookah user. "        
        

    n=(a)
    return(n)

In [8]:
lis7=[]
for i in block7.index:
    if i!=0:
        lis = []
        for a in block7:
            lis.append(str(a))
        v=fun7(lis)
        lis7.append(v)

print(lis7)

9134