In [1]:

import pandas as pd
from sklearn.impute import KNNImputer
import numpy as np

In [52]:
# Create the DataFrame
data = pd.read_excel("output_second.xlsx")

In [54]:
data

,Outcome_InhospitalMortality,Outcome_LOS,Outcome_ICUadmission,Outcome_ICULOS,Demographic_Age,Demographic_Gender,symtpm_to_referral,Symptom_Caugh,Symptom_Dyspnea,Symptom_Fever,...,LAB_CRP_Final,LAB_ESR_First,LAB_CPK_First,LAB_PTT_First,LAB_PT_First,LAB_INR_First,LAB_PH_Final,LAB_HCO3_Final,LAB_BE_Final,L1_1l22dGr2up12_First
0,0.0,30.0,1.0,25.0,33.0,1.0,8.0,1.0,1.0,0.0,...,114.0,62.0,661.0,32.6,10.9,1.00,7.23,39.0,-0.5,0.0
1,0.0,19.0,1.0,15.0,44.0,1.0,NaN,1.0,1.0,0.0,...,101.0,30.0,179.0,37.6,10.8,0.99,7.34,32.7,6.7,NaN
2,0.0,12.0,1.0,11.0,50.0,1.0,7.0,0.0,1.0,0.0,...,118.0,29.0,1956.0,27.4,12.1,1.11,7.41,33.4,8.7,NaN
3,1.0,18.0,1.0,9.0,71.0,1.0,7.0,0.0,1.0,1.0,...,3.0,20.0,30.0,29.1,14.2,1.31,7.42,32.8,8.3,NaN
4,1.0,18.0,1.0,9.0,71.0,1.0,7.0,0.0,1.0,1.0,...,3.0,20.0,30.0,29.1,14.2,1.31,7.42,32.8,8.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [56]:
data_num = pd.DataFrame(data[['Outcome_LOS','Outcome_ICULOS', 'Demographic_Age' ,'symtpm_to_referral' , 'VS_O2satwithoutsupp','VS_PR','VS_diastolic BP','VS_Systolic BP','VS_RR','VS_T',
'LAB_WBC_1','LAB_WBC_Final','LAB_LYMPHH_1','LAB_LYMPHH_Final','LAB_NEUT_1','LAB_NEUT_Final','LAB_PLT_1','LAB_PLT_Final','LAB_HB_1','LAB_HB_Final','LAB_MCV_1','LAB_MCV_Final','LAB_BUN_Final','LAB_CR_1','LAB_CR_Final','LAB_NA_First','LAB_NA_Final','LAB_K_First','LAB_K_Final','LAB_AST_Final','LAB_ALT_Final','LAB_ALKP_First','LAB_CRP_Final','LAB_ESR_First','LAB_CPK_First','LAB_PTT_First','LAB_PT_First','LAB_INR_First','LAB_PH_Final','LAB_HCO3_Final','LAB_BE_Final'
]])

In [58]:
data_cat_ABO = pd.DataFrame(data['L1_1l22dGr2up12_First'])

data_e = pd.concat([data_cat_ABO, data_num ], axis=1)

data_cat_10 = data.drop(columns=data_e)

In [59]:
data_num.fillna(data_num.mean(), inplace=True)

In [60]:
data_num

,Outcome_LOS,Outcome_ICULOS,Demographic_Age,symtpm_to_referral,VS_O2satwithoutsupp,VS_PR,VS_diastolic BP,VS_Systolic BP,VS_RR,VS_T,...,LAB_ALKP_First,LAB_CRP_Final,LAB_ESR_First,LAB_CPK_First,LAB_PTT_First,LAB_PT_First,LAB_INR_First,LAB_PH_Final,LAB_HCO3_Final,LAB_BE_Final
0,30.000000,25.000000,33.000000,8.000000,80.000000,144.000000,60.000000,100.000000,32.000000,37.000000,...,181.000000,1.140000e+02,62.000000,661.000000,3.260000e+01,1.090000e+01,1.000000e+00,7.230000e+00,3.900000e+01,-5.000000e-01
1,19.000000,15.000000,44.000000,6.885081,77.000000,89.000000,80.000000,120.000000,24.000000,37.000000,...,98.000000,1.010000e+02,30.000000,179.000000,3.760000e+01,1.080000e+01,9.900000e-01,7.340000e+00,3.270000e+01,6.700000e+00
2,12.000000,11.000000,50.000000,7.000000,60.000000,70.000000,70.000000,110.000000,19.000000,36.500000,...,99.000000,1.180000e+02,29.000000,1956.000000,2.740000e+01,1.210000e+01,1.110000e+00,7.410000e+00,3.340000e+01,8.700000e+00
3,18.000000,9.000000,71.000000,7.000000,71.000000,86.000000,60.000000,100.000000,25.000000,36.700000,...,139.000000,3.000000e+00,20.000000,30.000000,2.910000e+01,1.420000e+01,1.310000e+00,7.420000e+00,3.280000e+01,8.300000e+00
4,18.000000,9.000000,71.000000,7.000000,71.000000,86.000000,60.000000,100.000000,20.000000,36.700000,...,139.000000,3.000000e+00,20.000000,30.000000,2.910000e+01,1.420000e+01,1.310000e+00,7.420000e+00,3.280000e+01,8.300000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,7.681923,1.148254,58.408767,6.885081,85.089115,87.975092,75.287422,120.426541,19.342067,37.066714,...,226.502261,4.081338e+06,57.965147,332.150719,3.783670e+06,3.264003e+06,3.872112e+06,1.408276e+07,5.114964e+06,2.203753e+06
1048571,7.681923,1.148254,58.408767,6.885081,85.089115,87.975092,75.287422,120.426541,19.342067,37.066714,...,226.502261,4.081338e+06,57.965147,332.150719,3.783670e+06,3.264003e+06,3.872112e+06,1.408276e+07,5.114964e+06,2.203753e+06
1048572,7.681923,1.148254,58.408767,6.885081,85.089115,87.975092,75.287422,120.426541,19.342067,37.066714,...,226.502261,4.081338e+06,57.965147,332.150719,3.783670e+06,3.264003e+06,3.872112e+06,1.408276e+07,5.114964e+06,2.203753e+06
1048573,7.681923,1.148254,58.408767,6.885081,85.089115,87.975092,75.287422,120.426541,19.342067,37.066714,...,226.502261,4.081338e+06,57.965147,332.150719,3.783670e+06,3.264003e+06,3.872112e+06,1.408276e+07,5.114964e+06,2.203753e+06
1048574,7.681923,1.148254,58.408767,6.885081,85.089115,87.975092,75.287422,120.426541,19.342067,37.066714,...,226.502261,4.081338e+06,57.965147,332.150719,3.783670e+06,3.264003e+06,3.872112e+06,1.408276e+07,5.114964e+06,2.203753e+06

In [ ]:

# Initialize the KNNImputer with the desired number of neighbors (k)
knn_imputer = KNNImputer(n_neighbors=5)

# Perform imputation
data_imputed = knn_imputer.fit_transform(data_cat_10)

# Convert the result back to a DataFrame
data_imputed_cat_10 = pd.DataFrame(data_imputed, columns=data_cat_10.columns)

data_imputed_cat_10

In [ ]:
df_num_10 = pd.concat([data_cat_10 ,data_num], axis=1)

In [42]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

# Create the DataFrame with missing values
df = pd.DataFrame({'a': [1, np.nan, np.nan, 4], 'b': [3, np.nan, np.nan, 6], 'c': [np.nan, 2, 5, np.nan]})

from sklearn.impute import KNNImputer

# Assuming 'categorical_column' is missing values and you have other features as predictors
imputer = KNNImputer(n_neighbors=5)
df = imputer.fit_transform(df)

df

array([[1. , 3. , 3.5],
       [2.5, 4.5, 2. ],
       [2.5, 4.5, 5. ],
       [4. , 6. , 3.5]])

In [ ]:
data_cat_ABO

In [28]:
import pandas as pd
import numpy as np

# Create the DataFrame
data = {"Blood group": [1, 2, np.nan, 3, np.nan, 3, 2, 3, np.nan]}
df = pd.DataFrame(data)

# Calculate the distribution of the existing blood group data
existing_data_distribution = df['Blood group'].value_counts(normalize=True)

# Replace missing values with samples from the distribution
missing_indices = df.index[df['Blood group'].isnull()]
missing_samples = np.random.choice(existing_data_distribution.index, size=len(missing_indices), p=existing_data_distribution.values)
df.loc[missing_indices, 'Blood group'] = missing_samples

print(df)

   Blood group
0          1.0
1          2.0
2          1.0
3          3.0
4          3.0
5          3.0
6          2.0
7          3.0
8          2.0

In [51]:
import pandas as pd
import numpy as np

# Create the DataFrame
data = {"Blood group": [1, 2, np.nan, 3, np.nan, 3, 2, 3, np.nan]}
#data = {"Blood group": [int(value) if not np.isnan(value) else None for value in data["Blood group"]]}
df = pd.DataFrame(data)

# Calculate the distribution of the existing blood group data
existing_data_distribution = df['Blood group'].value_counts(normalize=True)
print(existing_data_distribution)
'''# Replace missing values with samples from the distribution
missing_indices = df.index[df['Blood group'].isnull()]
missing_samples = np.random.choice(existing_data_distribution.index, size=len(missing_indices), p=existing_data_distribution.values)
df.loc[missing_indices, 'Blood group'] = missing_samples

df'''

3.0    0.500000
2.0    0.333333
1.0    0.166667
Name: Blood group, dtype: float64

"# Replace missing values with samples from the distribution\nmissing_indices = df.index[df['Blood group'].isnull()]\nmissing_samples = np.random.choice(existing_data_distribution.index, size=len(missing_indices), p=existing_data_distribution.values)\ndf.loc[missing_indices, 'Blood group'] = missing_samples\n\ndf"

In [46]:
# Create the DataFrame

df = data_cat_ABO

# Calculate the distribution of the existing blood group data
existing_data_distribution = df['L01_1l22dGr2up012_First'].value_counts(normalize=True)

# Replace missing values with samples from the distribution
missing_indices = df.index[df['L01_1l22dGr2up012_First'].isnull()]
missing_samples = np.random.choice(existing_data_distribution.index, size=len(missing_indices), p=existing_data_distribution.values)
df.loc[missing_indices, 'L01_1l22dGr2up012_First'] = missing_samples

df

     L01_1l22dGr2up012_First
0                          0
1                     (8.0,)
2                    (10.0,)
3                    (10.0,)
4                     (6.0,)
...                      ...
9129                  (6.0,)
9130                  (2.0,)
9131                  (4.0,)
9132                  (0.0,)
9133                 (10.0,)

[9134 rows x 1 columns]

In [47]:
data_cat_ABO

     L01_1l22dGr2up012_First
0                          0
1                     (8.0,)
2                    (10.0,)
3                    (10.0,)
4                     (6.0,)
...                      ...
9129                  (6.0,)
9130                  (2.0,)
9131                  (4.0,)
9132                  (0.0,)
9133                 (10.0,)

[9134 rows x 1 columns]

In [50]:
import pandas as pd
import numpy as np

# Create the DataFrame

df = data_cat_ABO

# Calculate the distribution of the existing blood group data
existing_data_distribution = df['L01_1l22dGr2up012_First'].value_counts(normalize=True)
print(existing_data_distribution)
'''# Replace missing values with samples from the distribution
missing_indices = df.index[df['L01_1l22dGr2up012_First'].isnull()]
missing_samples = np.random.choice(existing_data_distribution.index, size=len(missing_indices), p=existing_data_distribution.values)
df.loc[missing_indices, 'L01_1l22dGr2up012_First'] = missing_samples

df'''

(10.0,)    0.247318
(4.0,)     0.219181
(6.0,)     0.164988
(8.0,)     0.065470
(0.0,)     0.039194
10.0       0.038099
(2.0,)     0.034596
4.0        0.033830
6.0        0.025400
(1.0,)     0.024743
(7.0,)     0.022334
(5.0,)     0.021349
(11.0,)    0.020692
8.0        0.009744
(3.0,)     0.007226
0.0        0.006021
2.0        0.005255
1.0        0.003503
5.0        0.003284
11.0       0.003175
7.0        0.002956
3.0        0.001204
(9.0,)     0.000328
9.0        0.000109
Name: L01_1l22dGr2up012_First, dtype: float64

"# Replace missing values with samples from the distribution\nmissing_indices = df.index[df['L01_1l22dGr2up012_First'].isnull()]\nmissing_samples = np.random.choice(existing_data_distribution.index, size=len(missing_indices), p=existing_data_distribution.values)\ndf.loc[missing_indices, 'L01_1l22dGr2up012_First'] = missing_samples\n\ndf"