In [37]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Train and Test sets

from google.colab import drive
drive.mount('/content/drive')

import os

# Set the search parameters
filename = "3.xlsx"
search_path = '/content/drive/My Drive'

# Search for the file
for root, dirs, files in os.walk(search_path):
    if filename in files:
        file_path = os.path.join(root, filename)
        break

import pandas as pd

# Load the XLSX file into a DataFrame
df = pd.read_excel(file_path)

## Training set (imputing and normalizing)

In [38]:
df = pd.read_excel("3 - changing column names for LLM.xlsx")

In [39]:
df.head()

,Patient_Hospital,Inhospital Mortality,ICU admission,Intubation,Dialysis,Blood Group,Gender,Caugh,Dyspnea,Fever,...,MCV,CR,sodium,potassium,alkaline phosphatase,ESR,CPK,PTT,PT,Age
0,Hospital1,0.0,1,1,1,0.0,1.0,1,1,0,...,NaN,NaN,140.0,4.0,181.0,62.0,661.0,32.6,10.9,33.0
1,Hospital1,0.0,1,1,0,NaN,1.0,1,1,0,...,86.71,1.1,139.0,3.5,98.0,30.0,179.0,37.6,10.8,44.0
2,Hospital1,0.0,1,0,1,NaN,1.0,0,1,0,...,87.18,0.9,138.0,4.2,99.0,29.0,1956.0,27.4,12.1,50.0
3,Hospital1,1.0,1,0,0,NaN,1.0,0,1,1,...,68.64,1.2,137.0,4.7,139.0,20.0,30.0,29.1,14.2,71.0
4,Hospital1,1.0,1,0,0,NaN,1.0,0,1,1,...,68.64,1.2,137.0,4.7,139.0,20.0,30.0,29.1,14.2,71.0

In [40]:
# ooutcome columns: 1.are Outcome_InhospitalMortality 2.TM_S_Intubation  3.Outcome_ICUadmission  4.TM_S_Dialysis
df = df.dropna(subset=['Inhospital Mortality','ICU admission','Intubation','Dialysis'])

In [41]:
#inja oomadim va external validation ro freeze kardim
df_internal_validation = df[df['Patient_Hospital']!="Hospital2"]
df_external_validation = df[df['Patient_Hospital']=="Hospital2"]
df_internal_validation = df_internal_validation.drop(columns=['Patient_Hospital'])
df_external_validation = df_external_validation.drop(columns=['Patient_Hospital'])

In [42]:
#df.to_excel("excluding NAN.xlsx", index=False)

In [43]:
#inja train test split kardim va target variable ro jodakardim
# Define features (X) and target variable (y)
X = df_internal_validation.drop(columns=['Inhospital Mortality','ICU admission','Intubation','Dialysis'])
y  = df_internal_validation[['Inhospital Mortality','ICU admission','Intubation','Dialysis']]
# Perform the train-test split (adjust the test_size as needed)
X_train , X_test , y_train , y_test = train_test_split(X,y , test_size = 0.2 , random_state = 42)

In [44]:
y_train

      Inhospital Mortality  ICU admission  Intubation  Dialysis
1513                   1.0              0           0         0
216                    0.0              0           0         0
5163                   0.0              0           0         1
6924                   1.0              0           0         0
421                    0.0              1           0         0
...                    ...            ...         ...       ...
6007                   1.0              0           0         0
6173                   1.0              0           0         0
860                    1.0              0           0         0
9089                   1.0              0           0         0
8082                   1.0              0           0         0

[6118 rows x 4 columns]

In [45]:
X_train

,Blood Group,Gender,Caugh,Dyspnea,Fever,Chiver,Mylagia,Weakness,loss of consciousness,Sore through,...,MCV,CR,sodium,potassium,alkaline phosphatase,ESR,CPK,PTT,PT,Age
1513,NaN,0.0,0,1,0,0,0,0,0.0,0,...,NaN,NaN,134.0,3.8,190.0,62.0,40.0,30.100000,11.400000,38.0
216,10.0,0.0,0,0,0,0,0,1,0.0,0,...,86.770000,3.4,128.0,6.2,189.0,97.0,98.0,38.500000,12.000000,89.0
5163,10.0,0.0,0,0,0,0,0,1,1.0,0,...,90.169998,2.7,125.0,3.8,197.0,52.0,538.0,35.900002,19.200001,80.0
6924,NaN,1.0,0,0,0,0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0
421,0.0,0.0,1,1,0,0,0,0,0.0,0,...,99.360000,1.4,134.0,5.1,201.0,7.0,191.0,20.300000,12.900000,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6007,NaN,1.0,0,0,0,0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0
6173,NaN,0.0,1,1,1,1,1,0,0.0,0,...,79.519997,0.8,140.0,4.5,219.0,26.0,40.0,25.299999,10.900000,46.0
860,NaN,1.0,0,0,0,0,0,0,0.0,0,...,NaN,NaN,136.0,3.7,NaN,NaN,NaN,NaN,NaN,62.0
9089,NaN,1.0,0,0,0,0,0,1,1.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0
8082,NaN,1.0,1,1,0,0,1,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0

In [46]:
#inja miaim va data haye categorical va numerical ro moshakhas mikonim ke bade knn categorical ha ro round konim
cat_col=[]
num_col=[]
for i in range(len(X_train.columns)):
    if i <=52:
        cat_col.append(X_train.columns[i])
    else:
        num_col.append(X_train.columns[i])

In [47]:
from sklearn.impute import KNNImputer
X_train_array  =X_train.to_numpy()
imputer = KNNImputer(n_neighbors=5, weights="uniform")
imputed = imputer.fit_transform(X_train_array)

In [48]:
df_imputed = pd.DataFrame(imputed)
df_imputed.columns=pd.DataFrame(X_train).columns.tolist()

In [49]:
df_imputed

,Blood Group,Gender,Caugh,Dyspnea,Fever,Chiver,Mylagia,Weakness,loss of consciousness,Sore through,...,MCV,CR,sodium,potassium,alkaline phosphatase,ESR,CPK,PTT,PT,Age
0,5.4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,83.410001,3.000,134.0,3.800,190.0,62.0,40.0,30.100000,11.400000,38.0
1,10.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,86.770000,3.400,128.0,6.200,189.0,97.0,98.0,38.500000,12.000000,89.0
2,10.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,90.169998,2.700,125.0,3.800,197.0,52.0,538.0,35.900002,19.200001,80.0
3,5.6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,86.793999,1.304,136.8,4.220,188.0,72.4,1822.4,29.280000,12.960000,66.0
4,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,99.360000,1.400,134.0,5.100,201.0,7.0,191.0,20.300000,12.900000,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6113,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,84.651999,2.720,137.8,9.900,220.0,45.4,3417.4,28.260000,37.780000,34.0
6114,5.2,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,79.519997,0.800,140.0,4.500,219.0,26.0,40.0,25.299999,10.900000,46.0
6115,5.4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,88.923999,2.380,136.0,3.700,204.6,57.0,277.2,34.120000,13.080000,62.0
6116,5.8,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,83.965999,1.480,140.0,4.020,166.8,44.2,1786.8,27.340000,13.380000,85.0
6117,5.4,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,88.109999,2.020,138.2,4.328,213.4,47.6,2031.2,25.440000,11.860000,50.0

In [50]:
for i in cat_col:
    df_imputed[[i]] = df_imputed[[i]].round()

In [51]:
df_imputed.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True, inplace=True)

In [52]:
X_train = df_imputed

In [53]:
X_train.shape

(6118, 75)

In [54]:
y_train.shape

(6118, 4)

## Test set (imputing and normalizing)

In [55]:
y_test

      Inhospital Mortality  ICU admission  Intubation  Dialysis
3265                   1.0              0           0         0
6728                   1.0              0           0         0
2892                   1.0              0           0         0
3984                   1.0              0           0         0
1221                   1.0              0           0         0
...                    ...            ...         ...       ...
7528                   1.0              0           0         0
7526                   0.0              0           0         0
1192                   1.0              0           0         0
3964                   1.0              1           0         0
5508                   1.0              0           0         0

[1530 rows x 4 columns]

In [56]:
X_test

,Blood Group,Gender,Caugh,Dyspnea,Fever,Chiver,Mylagia,Weakness,loss of consciousness,Sore through,...,MCV,CR,sodium,potassium,alkaline phosphatase,ESR,CPK,PTT,PT,Age
3265,NaN,1.0,1,1,1,0,1,0,0.0,0,...,91.200000,1.02,136.0,3.8,278.0,42.0,71.0,33.0,16.1,53.0
6728,NaN,0.0,0,0,0,0,0,0,1.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0
2892,NaN,0.0,1,1,1,1,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0
3984,NaN,1.0,0,0,1,1,0,0,0.0,0,...,74.000000,3.49,135.0,3.6,221.0,34.0,218.0,40.0,13.0,54.0
1221,NaN,1.0,0,1,0,0,1,0,0.0,0,...,81.050000,1.20,137.0,3.9,100.0,17.0,232.0,35.6,14.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7528,NaN,1.0,1,1,1,1,1,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0
7526,NaN,1.0,0,1,0,0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0
1192,NaN,0.0,1,1,1,0,0,1,0.0,0,...,80.160000,1.00,133.0,3.8,184.0,14.0,259.0,25.8,10.6,75.0
3964,10.0,1.0,0,1,1,1,1,0,0.0,0,...,NaN,NaN,139.0,4.0,153.0,NaN,124.0,38.0,13.0,50.0
5508,NaN,0.0,1,1,0,0,1,1,0.0,0,...,85.779999,0.90,140.0,5.1,NaN,NaN,102.0,NaN,NaN,43.0

In [57]:
#inja miaim va data haye categorical va numerical ro moshakhas mikonim ke bade knn categorical ha ro round konim
cat_col=[]
num_col=[]
for i in range(len(X_test.columns)):
    if i <=52:
        cat_col.append(X_test.columns[i])
    else:
        num_col.append(X_test.columns[i])

In [58]:
from sklearn.impute import KNNImputer
X_test_array  =X_test.to_numpy()
imputer = KNNImputer(n_neighbors=5, weights="uniform")
imputed_test = imputer.fit_transform(X_test_array)

In [59]:
df_imputed_test = pd.DataFrame(imputed_test)
df_imputed_test.columns=pd.DataFrame(X_test).columns.tolist()

In [60]:
df_imputed_test

,Blood Group,Gender,Caugh,Dyspnea,Fever,Chiver,Mylagia,Weakness,loss of consciousness,Sore through,...,MCV,CR,sodium,potassium,alkaline phosphatase,ESR,CPK,PTT,PT,Age
0,6.4,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,91.200000,1.020,136.0,3.80,278.0,42.0,71.0,33.00,16.10,53.0
1,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,86.352000,2.310,138.0,4.12,203.4,36.0,142.0,25.64,13.02,72.0
2,4.6,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,81.584000,1.440,138.8,4.00,247.6,41.2,116.6,25.64,11.54,75.0
3,7.6,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,74.000000,3.490,135.0,3.60,221.0,34.0,218.0,40.00,13.00,54.0
4,6.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,81.050000,1.200,137.0,3.90,100.0,17.0,232.0,35.60,14.00,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525,3.2,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,82.728000,1.340,138.6,4.18,230.4,44.6,56.4,29.40,12.90,73.0
1526,4.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,86.356000,1.340,135.6,4.12,336.4,28.8,212.6,23.86,11.98,83.0
1527,6.8,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,80.160000,1.000,133.0,3.80,184.0,14.0,259.0,25.80,10.60,75.0
1528,10.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,83.356000,1.124,139.0,4.00,153.0,27.2,124.0,38.00,13.00,50.0
1529,6.4,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,85.779999,0.900,140.0,5.10,154.0,38.2,102.0,26.60,11.96,43.0

In [61]:
for i in cat_col:
    df_imputed_test[[i]] = df_imputed_test[[i]].round()

In [62]:
df_imputed_test.reset_index(drop=True, inplace=True)
y_test.reset_index(drop=True, inplace=True)

In [63]:
X_test = df_imputed_test

In [64]:
X_test.shape

(1530, 75)

In [65]:
y_test.loc[: , ]

      Inhospital Mortality  ICU admission  Intubation  Dialysis
0                      1.0              0           0         0
1                      1.0              0           0         0
2                      1.0              0           0         0
3                      1.0              0           0         0
4                      1.0              0           0         0
...                    ...            ...         ...       ...
1525                   1.0              0           0         0
1526                   0.0              0           0         0
1527                   1.0              0           0         0
1528                   1.0              1           0         0
1529                   1.0              0           0         0

[1530 rows x 4 columns]

In [66]:
X_test

,Blood Group,Gender,Caugh,Dyspnea,Fever,Chiver,Mylagia,Weakness,loss of consciousness,Sore through,...,MCV,CR,sodium,potassium,alkaline phosphatase,ESR,CPK,PTT,PT,Age
0,6.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,91.200000,1.020,136.0,3.80,278.0,42.0,71.0,33.00,16.10,53.0
1,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,86.352000,2.310,138.0,4.12,203.4,36.0,142.0,25.64,13.02,72.0
2,5.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,81.584000,1.440,138.8,4.00,247.6,41.2,116.6,25.64,11.54,75.0
3,8.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,74.000000,3.490,135.0,3.60,221.0,34.0,218.0,40.00,13.00,54.0
4,6.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,81.050000,1.200,137.0,3.90,100.0,17.0,232.0,35.60,14.00,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525,3.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,82.728000,1.340,138.6,4.18,230.4,44.6,56.4,29.40,12.90,73.0
1526,4.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,86.356000,1.340,135.6,4.12,336.4,28.8,212.6,23.86,11.98,83.0
1527,7.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,80.160000,1.000,133.0,3.80,184.0,14.0,259.0,25.80,10.60,75.0
1528,10.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,83.356000,1.124,139.0,4.00,153.0,27.2,124.0,38.00,13.00,50.0
1529,6.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,85.779999,0.900,140.0,5.10,154.0,38.2,102.0,26.60,11.96,43.0

In [67]:
#X_test.to_excel("X_test imputed for LLM.xlsx", index=False)

In [68]:
import pandas as pd

data = pd.read_excel("X_test imputed for LLM.xlsx")

'''df = pd.DataFrame(data["symptom to referral"])

# Calculate mean and standard deviation for the 'symptom to referral' column
mean = df['symptom to referral'].mean()
std_dev = df['symptom to referral'].std()

# Define the normal range as within one standard deviation from the mean
lower_limit = mean - std_dev
upper_limit = mean + std_dev

# You can use two standard deviations for a wider normal range if needed
#lower_limit = mean - 2 * std_dev
#upper_limit = mean + 2 * std_dev

# Add a new column 'Normal Range' with the calculated range
df['Normal Range'] = df['symptom to referral'].apply(lambda x: 'Normal' if lower_limit <= x <= upper_limit else ('Lower' if x <= lower_limit else 'Higher'))







pd.DataFrame(df.loc[: , 'Normal Range']).value_counts()

data["symptom to referral"] = df["Normal Range"]'''
df = data

# Define normal range conditions
'''o2_condition = df['O2 saturation without supply'] >= 95
pulse_condition = (df['pulse rate'] >= 60) & (df['pulse rate'] <= 80)
diastolic_condition = df['diastolic Blood pressure'] < 80
systolic_condition = df['Systolic Blood pressure'] < 120
respiratory_condition = (df['respiratory rate'] >= 12) & (df['respiratory rate'] <= 18)
temperature_condition = (df['Temperature'] >= 36.1) & (df['Temperature'] <= 37.2)
wbc_condition = (df['WBC'] >= 3.5) & (df['WBC'] <= 9.5)
lymphocyte_condition = (df['Lymphocyte count'] >= 20) & (df['Lymphocyte count'] <= 50)
neutrophils_condition = (df['Neutrophils percentage'] >= 40) & (df['Neutrophils percentage'] <= 75)
platelets_condition = (df['Platelets'] >= 150) & (df['Platelets'] <= 450)
hemoglobin_male_condition = (df['Hemoglobin'] >= 13.5) & (df['Hemoglobin'] <= 17.5)
hemoglobin_female_condition = (df['Hemoglobin'] >= 12.5) & (df['Hemoglobin'] <= 15.5)
mcv_condition = (df['MCV'] >= 80) & (df['MCV'] <= 100)
cr_condition = (df['CR'] >= 0.5) & (df['CR'] <= 1.2)
sodium_condition = (df['sodium'] >= 135) & (df['sodium'] <= 145)
potassium_condition = (df['potassium'] >= 3.5) & (df['potassium'] <= 5.1)
alkaline_phosphatase_condition = (df['alkaline phosphatase'] >= 44) & (df['alkaline phosphatase'] <= 147)
esr_condition = df['ESR'] <= 15
cpk_condition = df['CPK'] <= 200
ptt_condition = (df['PTT'] >= 30) & (df['PTT'] <= 40)
pt_condition = (df['PT'] >= 11) & (df['PT'] <= 12.5)'''

# Replace values based on conditions
df['O2 saturation without supply'] = df['O2 saturation without supply'].apply(lambda x: 'normal' if  x >= 95 else 'Lower' )
df['pulse rate'] = df['pulse rate'].apply(lambda x: 'Higher' if  x > 80 else ('Lower' if x <= 60 else 'Normal'))
df['diastolic Blood pressure'] = df['diastolic Blood pressure'].apply(lambda x: 'Higher' if x >= 80 else 'normal')
df['Systolic Blood pressure'] = df['Systolic Blood pressure'].apply(lambda x: 'Higher' if x >= 120 else 'normal')
df['respiratory rate'] = df['respiratory rate'].apply(lambda x: 'Higher' if x >= 18 else ('Lower' if x <= 12 else 'Normal'))
df['Temperature'] = df['Temperature'].apply(lambda x: 'Higher' if x >= 37.2 else ('Lower' if x <= 36.1 else 'Normal'))
df['WBC'] = df['WBC'].apply(lambda x: 'Higher' if x >= 9.5 else ('Lower' if x <= 3.5 else 'Normal'))
df['Lymphocyte count'] = df['Lymphocyte count'].apply(lambda x: 'Higher' if x >= 50 else ('Lower' if x <= 20 else 'Normal'))
df['Neutrophils percentage'] = df['Neutrophils percentage'].apply(lambda x: 'Higher' if  x >= 75 else ('Lower' if x <= 40 else 'Normal'))
df['Platelets'] = df['Platelets'].apply(lambda x: 'Higher' if  x >= 450 else ('Lower' if x <= 150 else 'Normal'))
df['Hemoglobin'] = df['Hemoglobin'].apply(lambda x: 'Higher' if  x >= 17 else ('Lower' if x <= 13 else 'Normal'))
df['MCV'] = df['MCV'].apply(lambda x: 'Higher' if  x >= 100 else ('Lower' if x <= 80 else 'Normal'))
df['CR'] = df['CR'].apply(lambda x: 'Higher' if  x >= 1.2 else ('Lower' if x <= 0.5 else 'Normal'))
df['sodium'] = df['sodium'].apply(lambda x: 'Higher' if  x >= 145 else ('Lower' if x <= 135 else 'Normal'))
df['potassium'] = df['potassium'].apply(lambda x: 'Higher' if  x >= 5.1 else ('Lower' if x <= 3.5 else 'Normal'))
df['alkaline phosphatase'] = df['alkaline phosphatase'].apply(lambda x: 'Higher' if  x >= 147 else ('Lower' if x <= 44 else 'Normal'))
df['ESR'] = df['ESR'].apply(lambda x: 'Lower' if  x <= 15 else 'Higher' )
df['CPK'] = df['CPK'].apply(lambda x: 'Lower' if  x <= 200 else 'Higher' )
df['PTT'] = df['PTT'].apply(lambda x: 'Higher' if  x >= 40 else ('Lower' if x <= 30 else 'Normal'))
df['PT'] = df['PT'].apply(lambda x: 'Higher' if  x >= 12.5 else ('Lower' if x <= 11 else 'Normal'))

In [69]:
pd.DataFrame(df)
main_xtrain = df

In [70]:
main_xtrain

,Blood Group,Gender,Caugh,Dyspnea,Fever,Chiver,Mylagia,Weakness,loss of consciousness,Sore through,...,MCV,CR,sodium,potassium,alkaline phosphatase,ESR,CPK,PTT,PT,Age
0,6,1,1,1,1,0,1,0,0,0,...,Normal,Normal,Normal,Normal,Higher,Higher,Lower,Normal,Higher,53.0
1,4,0,0,0,0,0,0,0,1,0,...,Normal,Higher,Normal,Normal,Higher,Higher,Lower,Lower,Higher,72.0
2,5,0,1,1,1,1,0,0,0,0,...,Normal,Higher,Normal,Normal,Higher,Higher,Lower,Lower,Normal,75.0
3,8,1,0,0,1,1,0,0,0,0,...,Lower,Higher,Lower,Normal,Higher,Higher,Higher,Higher,Higher,54.0
4,6,1,0,1,0,0,1,0,0,0,...,Normal,Higher,Normal,Normal,Normal,Higher,Higher,Normal,Higher,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525,3,1,1,1,1,1,1,0,0,0,...,Normal,Higher,Normal,Normal,Higher,Higher,Lower,Lower,Higher,73.0
1526,4,1,0,1,0,0,0,0,0,0,...,Normal,Higher,Normal,Normal,Higher,Higher,Higher,Lower,Normal,83.0
1527,7,0,1,1,1,0,0,1,0,0,...,Normal,Normal,Lower,Normal,Higher,Lower,Higher,Lower,Lower,75.0
1528,10,1,0,1,1,1,1,0,0,0,...,Normal,Normal,Normal,Normal,Higher,Higher,Lower,Normal,Higher,50.0
1529,6,0,1,1,0,0,1,1,0,0,...,Normal,Normal,Normal,Normal,Higher,Higher,Lower,Lower,Normal,43.0

In [71]:
df

,Blood Group,Gender,Caugh,Dyspnea,Fever,Chiver,Mylagia,Weakness,loss of consciousness,Sore through,...,MCV,CR,sodium,potassium,alkaline phosphatase,ESR,CPK,PTT,PT,Age
0,6,1,1,1,1,0,1,0,0,0,...,Normal,Normal,Normal,Normal,Higher,Higher,Lower,Normal,Higher,53.0
1,4,0,0,0,0,0,0,0,1,0,...,Normal,Higher,Normal,Normal,Higher,Higher,Lower,Lower,Higher,72.0
2,5,0,1,1,1,1,0,0,0,0,...,Normal,Higher,Normal,Normal,Higher,Higher,Lower,Lower,Normal,75.0
3,8,1,0,0,1,1,0,0,0,0,...,Lower,Higher,Lower,Normal,Higher,Higher,Higher,Higher,Higher,54.0
4,6,1,0,1,0,0,1,0,0,0,...,Normal,Higher,Normal,Normal,Normal,Higher,Higher,Normal,Higher,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525,3,1,1,1,1,1,1,0,0,0,...,Normal,Higher,Normal,Normal,Higher,Higher,Lower,Lower,Higher,73.0
1526,4,1,0,1,0,0,0,0,0,0,...,Normal,Higher,Normal,Normal,Higher,Higher,Higher,Lower,Normal,83.0
1527,7,0,1,1,1,0,0,1,0,0,...,Normal,Normal,Lower,Normal,Higher,Lower,Higher,Lower,Lower,75.0
1528,10,1,0,1,1,1,1,0,0,0,...,Normal,Normal,Normal,Normal,Higher,Higher,Lower,Normal,Higher,50.0
1529,6,0,1,1,0,0,1,1,0,0,...,Normal,Normal,Normal,Normal,Higher,Higher,Lower,Lower,Normal,43.0

# یبار بیاییم و یه دیتاست با فقط اون هایی که پرزنت هستند بسازیم و یبار هم با اونا و هم با اونایی که پرزنت نیستن

# gender and blood group

In [72]:
main_xtrain["Gender"] = main_xtrain["Gender"].replace(0 , "female")
main_xtrain["Gender"] = main_xtrain["Gender"].replace(1 , "male")

In [73]:
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(0 , "(A)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(1 , "(B)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(2 , "(O)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(3 , "(AB)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(4 , "(A+)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(5 , "(A-)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(6 , "(B+)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(7 , "(B-)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(8 , "(AB+)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(9 , "(AB-)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(10 , "(O+)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(11 , "(O-)")
main_xtrain["Blood Group"] = "blood group is "+main_xtrain["Blood Group"]+". "

In [74]:
main_xtrain["Blood Group& gender"]  = main_xtrain["Gender"]+". "+main_xtrain["Blood Group"]

# Symptomps

In [75]:
df.loc[: , 'Caugh':'Hemiparesia' ]
# symptomps

df =pd.DataFrame(df.loc[: , 'Caugh':'Hemiparesia' ])
# Initialize an empty list to store the output strings for each row
output_strings = []

# Iterate through the rows of the DataFrame
for index, row in df.iterrows():
    present = [col for col in row.index if row[col] == 1]
    not_present = [col for col in row.index if row[col] == 0]
    present_str = "present symptoms are: "+", ".join(present)  if present else ""

    result_str = f"{present_str}. "
    output_strings.append(result_str)

# Add the output strings as a new column in the DataFrame
main_xtrain['symptomps'] = output_strings

# Display the resulting DataFrame
print(main_xtrain['symptomps'])

0       present symptoms are: Caugh, Dyspnea, Fever, M...
1       present symptoms are: loss of consciousness, H...
2       present symptoms are: Caugh, Dyspnea, Fever, C...
3                   present symptoms are: Fever, Chiver.
4                present symptoms are: Dyspnea, Mylagia.
                              ...
1525    present symptoms are: Caugh, Dyspnea, Fever, C...
1526    present symptoms are: Dyspnea, nausea/Vomit, C...
1527    present symptoms are: Caugh, Dyspnea, Fever, W...
1528    present symptoms are: Dyspnea, Fever, Chiver, ...
1529    present symptoms are: Caugh, Dyspnea, Mylagia,...
Name: symptomps, Length: 1530, dtype: object

In [76]:
main_xtrain

,Blood Group,Gender,Caugh,Dyspnea,Fever,Chiver,Mylagia,Weakness,loss of consciousness,Sore through,...,sodium,potassium,alkaline phosphatase,ESR,CPK,PTT,PT,Age,Blood Group& gender,symptomps
0,blood group is (B+).,male,1,1,1,0,1,0,0,0,...,Normal,Normal,Higher,Higher,Lower,Normal,Higher,53.0,male. blood group is (B+).,"present symptoms are: Caugh, Dyspnea, Fever, M..."
1,blood group is (A+).,female,0,0,0,0,0,0,1,0,...,Normal,Normal,Higher,Higher,Lower,Lower,Higher,72.0,female. blood group is (A+).,"present symptoms are: loss of consciousness, H..."
2,blood group is (A-).,female,1,1,1,1,0,0,0,0,...,Normal,Normal,Higher,Higher,Lower,Lower,Normal,75.0,female. blood group is (A-).,"present symptoms are: Caugh, Dyspnea, Fever, C..."
3,blood group is (AB+).,male,0,0,1,1,0,0,0,0,...,Lower,Normal,Higher,Higher,Higher,Higher,Higher,54.0,male. blood group is (AB+).,"present symptoms are: Fever, Chiver."
4,blood group is (B+).,male,0,1,0,0,1,0,0,0,...,Normal,Normal,Normal,Higher,Higher,Normal,Higher,50.0,male. blood group is (B+).,"present symptoms are: Dyspnea, Mylagia."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525,blood group is (AB).,male,1,1,1,1,1,0,0,0,...,Normal,Normal,Higher,Higher,Lower,Lower,Higher,73.0,male. blood group is (AB).,"present symptoms are: Caugh, Dyspnea, Fever, C..."
1526,blood group is (A+).,male,0,1,0,0,0,0,0,0,...,Normal,Normal,Higher,Higher,Higher,Lower,Normal,83.0,male. blood group is (A+).,"present symptoms are: Dyspnea, nausea/Vomit, C..."
1527,blood group is (B-).,female,1,1,1,0,0,1,0,0,...,Lower,Normal,Higher,Lower,Higher,Lower,Lower,75.0,female. blood group is (B-).,"present symptoms are: Caugh, Dyspnea, Fever, W..."
1528,blood group is (O+).,male,0,1,1,1,1,0,0,0,...,Normal,Normal,Higher,Higher,Lower,Normal,Higher,50.0,male. blood group is (O+).,"present symptoms are: Dyspnea, Fever, Chiver, ..."
1529,blood group is (B+).,female,1,1,0,0,1,1,0,0,...,Normal,Normal,Higher,Higher,Lower,Lower,Normal,43.0,female. blood group is (B+).,"present symptoms are: Caugh, Dyspnea, Mylagia,..."

# Past medical history

In [77]:
main_xtrain

,Blood Group,Gender,Caugh,Dyspnea,Fever,Chiver,Mylagia,Weakness,loss of consciousness,Sore through,...,sodium,potassium,alkaline phosphatase,ESR,CPK,PTT,PT,Age,Blood Group& gender,symptomps
0,blood group is (B+).,male,1,1,1,0,1,0,0,0,...,Normal,Normal,Higher,Higher,Lower,Normal,Higher,53.0,male. blood group is (B+).,"present symptoms are: Caugh, Dyspnea, Fever, M..."
1,blood group is (A+).,female,0,0,0,0,0,0,1,0,...,Normal,Normal,Higher,Higher,Lower,Lower,Higher,72.0,female. blood group is (A+).,"present symptoms are: loss of consciousness, H..."
2,blood group is (A-).,female,1,1,1,1,0,0,0,0,...,Normal,Normal,Higher,Higher,Lower,Lower,Normal,75.0,female. blood group is (A-).,"present symptoms are: Caugh, Dyspnea, Fever, C..."
3,blood group is (AB+).,male,0,0,1,1,0,0,0,0,...,Lower,Normal,Higher,Higher,Higher,Higher,Higher,54.0,male. blood group is (AB+).,"present symptoms are: Fever, Chiver."
4,blood group is (B+).,male,0,1,0,0,1,0,0,0,...,Normal,Normal,Normal,Higher,Higher,Normal,Higher,50.0,male. blood group is (B+).,"present symptoms are: Dyspnea, Mylagia."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525,blood group is (AB).,male,1,1,1,1,1,0,0,0,...,Normal,Normal,Higher,Higher,Lower,Lower,Higher,73.0,male. blood group is (AB).,"present symptoms are: Caugh, Dyspnea, Fever, C..."
1526,blood group is (A+).,male,0,1,0,0,0,0,0,0,...,Normal,Normal,Higher,Higher,Higher,Lower,Normal,83.0,male. blood group is (A+).,"present symptoms are: Dyspnea, nausea/Vomit, C..."
1527,blood group is (B-).,female,1,1,1,0,0,1,0,0,...,Lower,Normal,Higher,Lower,Higher,Lower,Lower,75.0,female. blood group is (B-).,"present symptoms are: Caugh, Dyspnea, Fever, W..."
1528,blood group is (O+).,male,0,1,1,1,1,0,0,0,...,Normal,Normal,Higher,Higher,Lower,Normal,Higher,50.0,male. blood group is (O+).,"present symptoms are: Dyspnea, Fever, Chiver, ..."
1529,blood group is (B+).,female,1,1,0,0,1,1,0,0,...,Normal,Normal,Higher,Higher,Lower,Lower,Normal,43.0,female. blood group is (B+).,"present symptoms are: Caugh, Dyspnea, Mylagia,..."

In [78]:
df = main_xtrain

#Past Medical History

df =pd.DataFrame(df.loc[: , 'Pregnancy':'Alzhimer' ])
# Initialize an empty list to store the output strings for each row
output_strings = []

# Iterate through the rows of the DataFrame
for index, row in df.iterrows():
    present = [col for col in row.index if row[col] == 1]
    not_present = [col for col in row.index if row[col] == 0]
    present_str = "past medical history: "+", ".join(present)  if present else ""

    result_str = f"{present_str}. "
    output_strings.append(result_str)

# Add the output strings as a new column in the DataFrame
main_xtrain['Past medical history'] = output_strings

# Display the resulting DataFrame
print(main_xtrain[['Past medical history']])

                                   Past medical history
0                                                    .
1     past medical history: hypertension, Ashtma, di...
2     past medical history: hypertension, coronary a...
3     past medical history: hypertension, ischemic h...
4                                                    .
...                                                 ...
1525                 past medical history: Opium user.
1526  past medical history: hypertension, cerebral v...
1527               past medical history: hypertension.
1528                                                 .
1529                     past medical history: Ashtma.

[1530 rows x 1 columns]

In [79]:
main_xtrain = main_xtrain.loc[: , 'symptom to referral':'Past medical history']

In [80]:
main_xtrain

,symptom to referral,O2 saturation without supply,pulse rate,diastolic Blood pressure,Systolic Blood pressure,respiratory rate,Temperature,WBC,Lymphocyte count,Neutrophils percentage,...,potassium,alkaline phosphatase,ESR,CPK,PTT,PT,Age,Blood Group& gender,symptomps,Past medical history
0,4.8,normal,Normal,normal,Higher,Higher,Normal,Normal,Normal,Normal,...,Normal,Higher,Higher,Lower,Normal,Higher,53.0,male. blood group is (B+).,"present symptoms are: Caugh, Dyspnea, Fever, M...",.
1,2.8,Lower,Higher,normal,normal,Higher,Higher,Normal,Normal,Normal,...,Normal,Higher,Higher,Lower,Lower,Higher,72.0,female. blood group is (A+).,"present symptoms are: loss of consciousness, H...","past medical history: hypertension, Ashtma, di..."
2,1.0,Lower,Higher,Higher,Higher,Higher,Normal,Normal,Lower,Normal,...,Normal,Higher,Higher,Lower,Lower,Normal,75.0,female. blood group is (A-).,"present symptoms are: Caugh, Dyspnea, Fever, C...","past medical history: hypertension, coronary a..."
3,1.0,Lower,Higher,Higher,Higher,Higher,Normal,Normal,Lower,Higher,...,Normal,Higher,Higher,Higher,Higher,Higher,54.0,male. blood group is (AB+).,"present symptoms are: Fever, Chiver.","past medical history: hypertension, ischemic h..."
4,10.6,Lower,Higher,normal,normal,Higher,Higher,Normal,Lower,Higher,...,Normal,Normal,Higher,Higher,Normal,Higher,50.0,male. blood group is (B+).,"present symptoms are: Dyspnea, Mylagia.",.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525,8.0,Lower,Normal,normal,normal,Higher,Normal,Normal,Normal,Normal,...,Normal,Higher,Higher,Lower,Lower,Higher,73.0,male. blood group is (AB).,"present symptoms are: Caugh, Dyspnea, Fever, C...",past medical history: Opium user.
1526,7.0,Lower,Normal,normal,normal,Higher,Normal,Normal,Lower,Higher,...,Normal,Higher,Higher,Higher,Lower,Normal,83.0,male. blood group is (A+).,"present symptoms are: Dyspnea, nausea/Vomit, C...","past medical history: hypertension, cerebral v..."
1527,2.0,Lower,Higher,normal,Higher,Normal,Normal,Lower,Lower,Higher,...,Normal,Higher,Lower,Higher,Lower,Lower,75.0,female. blood group is (B-).,"present symptoms are: Caugh, Dyspnea, Fever, W...",past medical history: hypertension.
1528,2.0,Lower,Normal,normal,normal,Higher,Normal,Normal,Normal,Normal,...,Normal,Higher,Higher,Lower,Normal,Higher,50.0,male. blood group is (O+).,"present symptoms are: Dyspnea, Fever, Chiver, ...",.
1529,7.0,normal,Normal,normal,normal,Normal,Normal,Normal,Normal,Normal,...,Normal,Higher,Higher,Lower,Lower,Normal,43.0,female. blood group is (B+).,"present symptoms are: Caugh, Dyspnea, Mylagia,...",past medical history: Ashtma.

In [81]:
main_xtrain['symptom to referral'] = "The time from symptom onset to referral spans " + main_xtrain['symptom to referral'].astype(str) + " days."

# lab test

In [82]:


df = pd.DataFrame(main_xtrain.loc[: , 'O2 saturation without supply': 'PT'])

def create_custom_string(row):
    custom_strings = []
    for col in row.index:
        if row[col] == "Normal":
            custom_strings.append(f"{col} is in normal range. ")
        else:
            custom_strings.append(f"{col} is lower than normal range. " if row[col] == "Lower" else f"{col} is higher than normal range.")
    return " ".join(custom_strings)

df["labratory data"] = df.apply(create_custom_string, axis=1)

main_xtrain["labratory data"] = df["labratory data"]

In [83]:
main_xtrain

,symptom to referral,O2 saturation without supply,pulse rate,diastolic Blood pressure,Systolic Blood pressure,respiratory rate,Temperature,WBC,Lymphocyte count,Neutrophils percentage,...,alkaline phosphatase,ESR,CPK,PTT,PT,Age,Blood Group& gender,symptomps,Past medical history,labratory data
0,The time from symptom onset to referral spans ...,normal,Normal,normal,Higher,Higher,Normal,Normal,Normal,Normal,...,Higher,Higher,Lower,Normal,Higher,53.0,male. blood group is (B+).,"present symptoms are: Caugh, Dyspnea, Fever, M...",.,O2 saturation without supply is higher than no...
1,The time from symptom onset to referral spans ...,Lower,Higher,normal,normal,Higher,Higher,Normal,Normal,Normal,...,Higher,Higher,Lower,Lower,Higher,72.0,female. blood group is (A+).,"present symptoms are: loss of consciousness, H...","past medical history: hypertension, Ashtma, di...",O2 saturation without supply is lower than nor...
2,The time from symptom onset to referral spans ...,Lower,Higher,Higher,Higher,Higher,Normal,Normal,Lower,Normal,...,Higher,Higher,Lower,Lower,Normal,75.0,female. blood group is (A-).,"present symptoms are: Caugh, Dyspnea, Fever, C...","past medical history: hypertension, coronary a...",O2 saturation without supply is lower than nor...
3,The time from symptom onset to referral spans ...,Lower,Higher,Higher,Higher,Higher,Normal,Normal,Lower,Higher,...,Higher,Higher,Higher,Higher,Higher,54.0,male. blood group is (AB+).,"present symptoms are: Fever, Chiver.","past medical history: hypertension, ischemic h...",O2 saturation without supply is lower than nor...
4,The time from symptom onset to referral spans ...,Lower,Higher,normal,normal,Higher,Higher,Normal,Lower,Higher,...,Normal,Higher,Higher,Normal,Higher,50.0,male. blood group is (B+).,"present symptoms are: Dyspnea, Mylagia.",.,O2 saturation without supply is lower than nor...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525,The time from symptom onset to referral spans ...,Lower,Normal,normal,normal,Higher,Normal,Normal,Normal,Normal,...,Higher,Higher,Lower,Lower,Higher,73.0,male. blood group is (AB).,"present symptoms are: Caugh, Dyspnea, Fever, C...",past medical history: Opium user.,O2 saturation without supply is lower than nor...
1526,The time from symptom onset to referral spans ...,Lower,Normal,normal,normal,Higher,Normal,Normal,Lower,Higher,...,Higher,Higher,Higher,Lower,Normal,83.0,male. blood group is (A+).,"present symptoms are: Dyspnea, nausea/Vomit, C...","past medical history: hypertension, cerebral v...",O2 saturation without supply is lower than nor...
1527,The time from symptom onset to referral spans ...,Lower,Higher,normal,Higher,Normal,Normal,Lower,Lower,Higher,...,Higher,Lower,Higher,Lower,Lower,75.0,female. blood group is (B-).,"present symptoms are: Caugh, Dyspnea, Fever, W...",past medical history: hypertension.,O2 saturation without supply is lower than nor...
1528,The time from symptom onset to referral spans ...,Lower,Normal,normal,normal,Higher,Normal,Normal,Normal,Normal,...,Higher,Higher,Lower,Normal,Higher,50.0,male. blood group is (O+).,"present symptoms are: Dyspnea, Fever, Chiver, ...",.,O2 saturation without supply is lower than nor...
1529,The time from symptom onset to referral spans ...,normal,Normal,normal,normal,Normal,Normal,Normal,Normal,Normal,...,Higher,Higher,Lower,Lower,Normal,43.0,female. blood group is (B+).,"present symptoms are: Caugh, Dyspnea, Mylagia,...",past medical history: Ashtma.,O2 saturation without supply is higher than no...

In [84]:
main_xtrain = main_xtrain.loc[: , 'Age': 'labratory data']

In [85]:
main_xtrain

,Age,Blood Group& gender,symptomps,Past medical history,labratory data
0,53.0,male. blood group is (B+).,"present symptoms are: Caugh, Dyspnea, Fever, M...",.,O2 saturation without supply is higher than no...
1,72.0,female. blood group is (A+).,"present symptoms are: loss of consciousness, H...","past medical history: hypertension, Ashtma, di...",O2 saturation without supply is lower than nor...
2,75.0,female. blood group is (A-).,"present symptoms are: Caugh, Dyspnea, Fever, C...","past medical history: hypertension, coronary a...",O2 saturation without supply is lower than nor...
3,54.0,male. blood group is (AB+).,"present symptoms are: Fever, Chiver.","past medical history: hypertension, ischemic h...",O2 saturation without supply is lower than nor...
4,50.0,male. blood group is (B+).,"present symptoms are: Dyspnea, Mylagia.",.,O2 saturation without supply is lower than nor...
...,...,...,...,...,...
1525,73.0,male. blood group is (AB).,"present symptoms are: Caugh, Dyspnea, Fever, C...",past medical history: Opium user.,O2 saturation without supply is lower than nor...
1526,83.0,male. blood group is (A+).,"present symptoms are: Dyspnea, nausea/Vomit, C...","past medical history: hypertension, cerebral v...",O2 saturation without supply is lower than nor...
1527,75.0,female. blood group is (B-).,"present symptoms are: Caugh, Dyspnea, Fever, W...",past medical history: hypertension.,O2 saturation without supply is lower than nor...
1528,50.0,male. blood group is (O+).,"present symptoms are: Dyspnea, Fever, Chiver, ...",.,O2 saturation without supply is lower than nor...
1529,43.0,female. blood group is (B+).,"present symptoms are: Caugh, Dyspnea, Mylagia,...",past medical history: Ashtma.,O2 saturation without supply is higher than no...

# Age

In [86]:
"""Neonates or newborns (birth to 1 month)
Infants (1 month to 1 year)
Children (1 year through 12 years)
Adolescents (13 years through 17 years. They may also be referred to as teenagers depending on the context.)
Adults (18 years or older)
Older adults (65 and older)"""

'''age = []
for i in main_xtrain.loc[: , "Age"]:
    if i<1:
        age.append('Infant')
    elif i<13 and i>=1:
        age.append('Child')
    elif i >= 13 and i <=17:
        age.append("Adolescent")
    elif i >= 18 and i <=65:
        age.append("Adult")
    else:
        age.append("Older adult")'''
        
main_xtrain["Age"]= "age is "+main_xtrain["Age"].astype(str)+ " years. "

In [87]:
main_xtrain

,Age,Blood Group& gender,symptomps,Past medical history,labratory data
0,age is 53.0 years.,male. blood group is (B+).,"present symptoms are: Caugh, Dyspnea, Fever, M...",.,O2 saturation without supply is higher than no...
1,age is 72.0 years.,female. blood group is (A+).,"present symptoms are: loss of consciousness, H...","past medical history: hypertension, Ashtma, di...",O2 saturation without supply is lower than nor...
2,age is 75.0 years.,female. blood group is (A-).,"present symptoms are: Caugh, Dyspnea, Fever, C...","past medical history: hypertension, coronary a...",O2 saturation without supply is lower than nor...
3,age is 54.0 years.,male. blood group is (AB+).,"present symptoms are: Fever, Chiver.","past medical history: hypertension, ischemic h...",O2 saturation without supply is lower than nor...
4,age is 50.0 years.,male. blood group is (B+).,"present symptoms are: Dyspnea, Mylagia.",.,O2 saturation without supply is lower than nor...
...,...,...,...,...,...
1525,age is 73.0 years.,male. blood group is (AB).,"present symptoms are: Caugh, Dyspnea, Fever, C...",past medical history: Opium user.,O2 saturation without supply is lower than nor...
1526,age is 83.0 years.,male. blood group is (A+).,"present symptoms are: Dyspnea, nausea/Vomit, C...","past medical history: hypertension, cerebral v...",O2 saturation without supply is lower than nor...
1527,age is 75.0 years.,female. blood group is (B-).,"present symptoms are: Caugh, Dyspnea, Fever, W...",past medical history: hypertension.,O2 saturation without supply is lower than nor...
1528,age is 50.0 years.,male. blood group is (O+).,"present symptoms are: Dyspnea, Fever, Chiver, ...",.,O2 saturation without supply is lower than nor...
1529,age is 43.0 years.,female. blood group is (B+).,"present symptoms are: Caugh, Dyspnea, Mylagia,...",past medical history: Ashtma.,O2 saturation without supply is higher than no...

In [88]:
y_train

      Inhospital Mortality  ICU admission  Intubation  Dialysis
0                      1.0              0           0         0
1                      0.0              0           0         0
2                      0.0              0           0         1
3                      1.0              0           0         0
4                      0.0              1           0         0
...                    ...            ...         ...       ...
6113                   1.0              0           0         0
6114                   1.0              0           0         0
6115                   1.0              0           0         0
6116                   1.0              0           0         0
6117                   1.0              0           0         0

[6118 rows x 4 columns]

# mortality

In [89]:
mortality = []
for i in y_train.loc[: ,"Inhospital Mortality"]:
    if i == 1.0:
        mortality.append('survives')
    else:
        mortality.append('dies')

y_train.loc[: ,"Inhospital Mortality"] = mortality

In [90]:
y_train_mortality = y_train.loc[: ,"Inhospital Mortality"]

In [91]:
y_train_mortality = pd.DataFrame(y_train_mortality)

In [92]:
y_train_mortality

     Inhospital Mortality
0                survives
1                    dies
2                    dies
3                survives
4                    dies
...                   ...
6113             survives
6114             survives
6115             survives
6116             survives
6117             survives

[6118 rows x 1 columns]

In [93]:
main_xtrain= pd.concat([main_xtrain , y_train_mortality], axis=1)

In [94]:
main_xtrain["patient medical hidtory"] = main_xtrain["Age"]+" "+main_xtrain["Blood Group& gender"]+" "+main_xtrain["symptomps"]+" "+ main_xtrain["Past medical history"]+" "+main_xtrain["labratory data"]

In [95]:
main_xtrain

,Age,Blood Group& gender,symptomps,Past medical history,labratory data,Inhospital Mortality,patient medical hidtory
0,age is 53.0 years.,male. blood group is (B+).,"present symptoms are: Caugh, Dyspnea, Fever, M...",.,O2 saturation without supply is higher than no...,survives,age is 53.0 years. male. blood group is (B+)....
1,age is 72.0 years.,female. blood group is (A+).,"present symptoms are: loss of consciousness, H...","past medical history: hypertension, Ashtma, di...",O2 saturation without supply is lower than nor...,dies,age is 72.0 years. female. blood group is (A+...
2,age is 75.0 years.,female. blood group is (A-).,"present symptoms are: Caugh, Dyspnea, Fever, C...","past medical history: hypertension, coronary a...",O2 saturation without supply is lower than nor...,dies,age is 75.0 years. female. blood group is (A-...
3,age is 54.0 years.,male. blood group is (AB+).,"present symptoms are: Fever, Chiver.","past medical history: hypertension, ischemic h...",O2 saturation without supply is lower than nor...,survives,age is 54.0 years. male. blood group is (AB+)...
4,age is 50.0 years.,male. blood group is (B+).,"present symptoms are: Dyspnea, Mylagia.",.,O2 saturation without supply is lower than nor...,dies,age is 50.0 years. male. blood group is (B+)....
...,...,...,...,...,...,...,...
6113,NaN,NaN,NaN,NaN,NaN,survives,NaN
6114,NaN,NaN,NaN,NaN,NaN,survives,NaN
6115,NaN,NaN,NaN,NaN,NaN,survives,NaN
6116,NaN,NaN,NaN,NaN,NaN,survives,NaN
6117,NaN,NaN,NaN,NaN,NaN,survives,NaN

In [96]:
final_train_dataset = pd.concat([main_xtrain["patient medical hidtory"], y_train_mortality] , axis=1)

In [97]:
final_train_dataset

                                patient medical hidtory Inhospital Mortality
0     age is 53.0 years.  male. blood group is (B+)....             survives
1     age is 72.0 years.  female. blood group is (A+...                 dies
2     age is 75.0 years.  female. blood group is (A-...                 dies
3     age is 54.0 years.  male. blood group is (AB+)...             survives
4     age is 50.0 years.  male. blood group is (B+)....                 dies
...                                                 ...                  ...
6113                                                NaN             survives
6114                                                NaN             survives
6115                                                NaN             survives
6116                                                NaN             survives
6117                                                NaN             survives

[6118 rows x 2 columns]

# Saving into excel and jsonl

In [98]:
final_train_dataset.to_excel("TEST dataset LLM classification.xlsx", index= False)

In [99]:
final_train_dataset = final_train_dataset.to_dict(orient="records")

In [63]:
import json

with open("TEST dataset LLM classification11.jsonl", "w") as f:
    for line in final_train_dataset:
        f.write(json.dumps(line) + "\n")